node_modules
.env

# Hardhat files
/cache
/artifacts/@openzeppelin
/artifacts/build-info
/artifacts/hardhat

/artifacts-usdc/@openzeppelin
/artifacts-usdc/build-info
/artifacts-usdc/hardhat

/deployments/localhost

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
package-lock.json

/backup
